<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="container">
  <div class="row mb-3">
    <div class="col-md-8 offset-md-2"><h2>Employee Information</h2></div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-4" *ngIf="!loaded">Loading...</div>
    <div class="col-md-8 offset-md-2" *ngIf="loaded">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" />
      </div>
      <div class="container mt-4">
        <h4>Dependents</h4>
        <div *ngIf="dependents.controls.length" formArrayName="dependents" class="form-group">
          <div *ngFor="let control of dependents.controls; index as i" formGroupName="{{i}}" class="row form-group">
            <input class="col-md-4 ml-1 my-1" placeholder="First Name" formControlName="firstName" />
            <input class="col-md-4 ml-1 my-1" placeholder="Last Name" formControlName="lastName" />
            <button type="button" class="btn btn-sm btn-danger col-md-2 ml-1 my-1" (click)="removeDependent(i)">Remove</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="addDependent()">Add Dependent</button>
      </div>

      <div class="form-group mt-5">
        <button type="button" class="btn btn-danger " *ngIf="isEdit" (click)="deleteEmployee()">Delete</button>
        <button type="button" class="btn btn-secondary float-right mx-2" (click)="navigateHome()">Cancel</button>
        <button type="button" class="btn btn-success float-right" (click)="onSubmit()">Save</button>
      </div>
    </div>
  </div>
</form>
