
<div class="page-header">
  <h1 id="tableLabel">Employees</h1>
</div>

<p *ngIf="!employees"><em>Loading Employee Information...</em></p>
<div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>
<div *ngIf="employees">
  <div class="row mb-4">
    <div class="col-md-12">
      <a class="btn btn-success float-right" [routerLink]="['/employees', '0']">Add Employee</a>
    </div>
  </div>
  <div class="row grid-container">
    <div class="col-md-12">
      <div class="table">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Individual Benefit Cost</th>
              <th>Dependent Benefit Cost</th>
              <th>Total Annual Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td><a [routerLink]="['/employees', employee.employeeID]">{{ employee.firstName }} {{ employee.lastName }}</a></td>
              <td>
                <span placement="top" ngbTooltip="{{employee.individualBenefitCost.paycheckBenefitCost | currency}} per paycheck">
                  {{employee.individualBenefitCost.annualBenefitCost | currency }}
                </span>
              </td>
              <td>
                <div *ngIf="!employee.dependents.length">No Dependents</div>
                <div *ngFor="let dependent of employee.dependents">
                  {{ dependent.firstName }} {{dependent.lastName }} -
                  <span placement="top" ngbTooltip="{{dependent.individualBenefitCost.paycheckBenefitCost | currency}} per paycheck">
                    {{dependent.individualBenefitCost.annualBenefitCost | currency}}
                  </span>
                </div>
              </td>
              <td>
                <span placement="top" ngbTooltip="{{employee.totalBenefitCost.paycheckBenefitCost | currency}} per paycheck">
                  {{ employee.totalBenefitCost.annualBenefitCost | currency }}
                </span>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ getTotalCostSum() | currency }} </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
