<h1 id="tableLabel">Employees</h1>

<p *ngIf="!employees"><em>Loading Employee Information...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employees">
  <thead>
    <tr>
      <th>Name</th>
      <th>Annual Cost</th>
      <th>Dependent Information</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td><a [routerLink]="['/employees', employee.id]">{{ employee.firstName }} {{ employee.lastName }}</a></td>
      <td>
        <span placement="top" ngbTooltip="({{employee.benefitCost.paycheckBenefitCost | currency}} per paycheck)">
          {{ employee.benefitCost.annualBenefitCost | currency }}
        </span>
      </td>
      <td>
        <div *ngIf="!employee.dependents.length">No Dependents</div>
        <div *ngFor="let dependent of employee.dependents">
          {{ dependent.firstName }} {{dependent.lastName }} -
          <span placement="top" ngbTooltip="({{dependent.benefitCost.paycheckBenefitCost | currency}} per paycheck)">
            {{dependent.benefitCost.annualBenefitCost | currency}}
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
