<h1 id="tableLabel">Benefit Cost Preview</h1>

<p *ngIf="!benefitCosts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="benefitCosts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Annual Cost</th>
      <th>Dependent Information</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let benefitCost of benefitCosts">
      <td>{{ benefitCost.name }}</td>
      <td> <span placement="top" ngbTooltip="({{benefitCost.paycheckBenefitCost | currency}} per paycheck)">{{ benefitCost.benefitCost | currency}}</span> </td>
      <td>
        <div *ngIf="!benefitCost.dependentCostData.length">No Dependents</div>
        <div *ngFor="let dependent of benefitCost.dependentCostData">{{ dependent.name }} -  <span placement="top" ngbTooltip="({{dependent.paycheckBenefitCost | currency}} per paycheck)">{{dependent.benefitCost | currency}}</span> </div>
      </td>
    </tr>
  </tbody>
</table>
